
@tailwind base;
@tailwind components;
@tailwind utilities;

form div {
  margin-bottom: 10px;
}

form label {
  display: inline-block;
  width: 100px;
}

form input, form select {
  padding: 5px;
  width: 200px;
}

span {
  color: red;
  font-size: 12px;
}
